body{
  margin: 0px;
}
table {
   border-collapse: collapse;
   background: gold !important;
   text-align:center;
   width: 100%;

}
.caption_table {
   background-color: red;
}
#option_name{
  background-color: plum;
}
/* #caption_table{
  color:white;
  background-color: yellow;
} */
*{
  box-sizing : border-box;
}

.box-one{
  background-color: hotpink;
  width: 100px;
  height: 100px;
  padding :20 px;
  border: 5px solid black;
  margin: 20px;

}
.box-two{

  background-color: lightblue;
  width: 100px;
  height: 100px;
  padding :20 px;
  border: 5px solid black;
  margin: 20px;
}
