*{
  box-sizing: border-box;
}
.box-container{
  background-color: green;
  padding: 20px;
}
.box-item{
  background-color: hotpink;
  border: 5px solid mediumvioletred;
  height:100px;
}
.flexbox-container{
  display:flex;
  justify-content: center;
  /* align-items: center; */

}
.box-item-1{
  //height issuses
  min-height: 150px;
  max-height: 25%;
  /* min-height:300px; */
    flex-basis: 0;
}
.box-item-2{
  height:300px;
  /* min-height:300px; */

  /* auto fill to left */
  flex-grow:  1;
  flex-basis: 0;
}
