*,*::before,*::after{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: gold;
}
.header{
  display: flex;
  /* space between  */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header_left{
  display: flex;
  align-items: center;
}
.header_menu{
  /* margin-left: 16px;
  margin-right:16px; */
  /* margin: 0px 16px 0px 16px; */
  margin: 0px 16px;
}
.youtube-logo{
  margin-left: 16px;
}
.menu-icons{
  display: grid;
  grid-template-columns: repeat(4,auto);
  align-items: center;
  grid-gap:1.5rem;
}
.menu-channel-icon{
  width:36px;
  height:36px;
  border-radius: 50%;
}
